@model Departman
@{
    ViewData["Title"] = "Duzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Departman Düzenle</h2>

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Departman/Duzenle/" enctype="multipart/form-data">
        <div class="form-group ">
            <input type="hidden" asp-for="DepartmanId" />
            <label for="DepartmanAdi" class="control-label col-lg-2">Departman Adı <span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="DepartmanAdi" name="DepartmanAdi" type="text" required value="@Model.DepartmanAdi" />
            </div>
           
        </div>
       


        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Düzenle</button>
                <button class="btn btn-default" type="button"><a href="/Departman/Index">İptal</a></button>
            </div>
        </div>
    </form>
</div>



