@model Admin
@{
    ViewData["Title"] = "BilgileriGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>Çalışan Düzenle</h2>

<div class="form">
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Admin/BilgileriGuncelle/" enctype="multipart/form-data">
        <div class="form-group ">
            <input type="hidden" asp-for="AdminId" />
            <label for="Sifre" class="control-label col-lg-2">Admin Şifre<span class="required">*</span></label>
            <div class="col-lg-10">
                <input class="form-control" id="Sifre" name="Sifre" type="text" required />
                @Model.Sifre
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-primary" type="submit">Güncelle</button>
                <button class="btn btn-default" type="button"><a href="/Admin/BilgileriGuncelle">İptal</a></button>
            </div>
        </div>
    </form>
</div>

