body {
    background: #eee;
}

.container-fluid {
    max-width: 1200px;
}

header {
    background: #563d7c;
    padding: 2em 1em;
    color: #fff;
    margin-bottom: 2em;
}

    header h1 {
        font-weight: 200;
    }

.card {
    background: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

    .card img {
        width: 100%;
    }

[class*="row"] {
    margin-bottom: 1em;
    justify-content: center;
}

[class*="col-"] {
    background: #efefef;
    border: 1px solid #ddd;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;
}
